{% extends "base.html" %}

{% block content %}

<h2>{{ article.title }}</h2>

<p>
    Publisher:
    {{ article.publisher.name }}
</p>

<p>
    Category:
    {{ article.category }}
</p>

<p>
    Status:
    {{ article.get_status_display }}
</p>

<p>
    Author:
    {{ article.author.username }}
</p>

<hr>

<div>
    {{ article.content|linebreaks }}
</div>

<p>
    <a href="{% url 'article_edit' article.id %}">
        Edit Article
    </a>
</p>

<p>
    <a href="{% url 'article_list' %}">
        Back to List
    </a>
</p>

{% endblock %}